@import "tailwindcss";

:root {
  background-color: #050505;
  color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #90ff4f;
  border-radius: 2px;
}